@charset "UTF-8";
body{
    background: #7cffbe;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #005229;
}

#principal{
    color: #000000;
    text-align: center;
    background-color: beige;
}

h2{
    color: #005229;
}